ul.nav-bar{
    display: inline-block;
    list-style: none;
}

ul.nav-bar li{
    display: inline-block;
    list-style: none;
    padding: 21px;
    border-bottom:3px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    color: #7b7878;
    font-size: 18px;
    font-weight: 100;
}

ul.nav-bar li:hover, ul.nav-bar li.active{
    border-bottom:3px solid #25a4f1;
    color: #25a4f1;
}