*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: #f5f6fa;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  padding-top: 100px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.container{
  width: 100%;
  height: auto;
}

.container-header{
  width: 100%;
  padding: 5px 5% 0 4.5%;
  background: #ffffff;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 5px #d2d2d2;
  -moz-box-shadow: 0 1px 5px #d2d2d2;
  box-shadow: 0 1px 5px #d2d2d2;
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
}

.container-header-logo{
  float: left;
  margin: 13px 0;
}

.container-header-nav{
    text-align: center;
    font-size: x-large;
    padding: 13px 0 0;
    font-weight: bold;
    color: #585758;
}

.container-header-logo img{
    width:123px;
}

@media all and (max-width: 767px) {
    .container-header-nav{
        margin: 0;
    }
    .dataTables_wrapper .dataTables_filter{
        margin: 10px 0;
    }
}